/cache
DeconomiX-GUI.zip.zip
/example
/.idea
Deconomix_gui_demo.zip
.DS_Store
pages/__pycache__/ADTD_page.cpython-312.pyc
pages/__pycache__/DTD_page.cpython-312.pyc
pages/__pycache__/Uploading.cpython-312.pyc
utils/__pycache__/ADTD_config.cpython-312.pyc
utils/__pycache__/DeconomixCache.cpython-312.pyc
utils/__pycache__/DeconomixFile.cpython-312.pyc
utils/__pycache__/DTD_config.cpython-312.pyc
