adtd-par-check-Cstatic = If C is static, then the hidden cell type proportions are given by the difference of all known cell type contributions to 100 percent
adtd-par-check-Deltastatic = If Delta is static, no gene regulations are estimated
adtd-par-lambda1 = Controls the estimation of C, for small lambda1, x and C are estimated simultaneously. Growing lambda 1 values lead to solutions more biased to the naive solution
adtd-par-lambda2 = Controls the estimation of gene regulations. To find the optimal lambda 2, use the hyperparameter search
adtd-run-hyper = Runs the hyperparameter search for lambda 2